{% load static %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Bare - Start Bootstrap Template</title>
        <!-- Favicon-->
        <!-- Core theme CSS (includes Bootstrap)-->
        {% load static%}
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
   <div class="container">
       <a class="navbar-brand" href="/news"><h3>Новостной портал</h3></a>
       <button class="navbar-toggler" type="button" data-toggle="collapse"
               data-target="#navbarResponsive"
               aria-controls="navbarResponsive" aria-expanded="false"
               aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarResponsive">
           <ul class="navbar-nav ml-auto">

               <li class="nav-item">
                   <a class="nav-link" href="{% url 'post_search' %}"><h4>Поиск</h4></a>
               </li>
               <li>
                   {% if not is_author %}
                   <a class="nav-link" href="{% url 'account_upgrade' %}">
            <h4><strong>Стать Автором!</strong></h4>
                   {% endif %}
        </a>
               </li>

           </ul>
       </div>
   </div>
</nav>
        <!-- Page content-->
       <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                     {% block content %}
                     {{ flatpage.content }}
                     {% endblock content %}
                </div>
            </div>
        </div>
    </body>
    {% if request.user.is_authenticated %}
    <button>
    <a class="nav-link" href="{% url 'account_logout' %}"<h4>Выйти</h4>></a>
    </button>
    {% else %}
    <button>
    <a class="nav-link" href="{% url 'account_login' %}"><h4>Вoйти</h4>></a>
    </button>
    {% endif %}

</html>