<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
{% load custom_filters %}
<!-- Название у нас будет Product -->
{% block title %}
Post
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
{% block content %}
<h3>{{ time_now|date:'M d Y' }}</h3>
<h1>Статья</h1>
<h1>{{ news.tittle|censor }}</h1>
<h1>{{ news.dateCreation|date:'M d Y' }}</h1>
<h1>{{ news.text|censor }}</h1>





{% endblock content %}
