{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% block title %}
Post
{% endblock title %}

{% block content %}
   <h1>Все новости</h1>

    <h3>{{ time_now|date:'M d Y' }}</h3>

   <hr>

   {% if perms.new.add_post %}
<p><a href="{% url 'post_create' %}"><h4>Добавить статю</h4></a></p>
    {% endif %}


    {% if post %}
       <table>
           <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Статья</td>
               {% if perms.new.change_post or perms.new.delete_post %}
                <td>Действия</td>
                {% endif %}

           </tr>

           {% for posts in post %}
           <tr>
               <td>{{ posts.tittle|censor }}</td>
               <td>{{ posts.dateCreation|date:'M d Y'}}</td>
               <td>{{ posts.text|truncatechars:20|censor}}</td>
               <td>
                    {% if perms.new.change_post %}
                    <a href="{% url 'post_update' pk=posts.id %}">Изменить</a>
                    {% endif %}
                    {% if perms.new.delete_post and post.author %}
                    <a href="{% url 'post_delete' posts.id %}">Удалить</a>
                    {% endif %}
                </td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Статей нет!</h2>
    {% endif %}
     {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}
